@import "../../theme.css";

.button {
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    letter-spacing: 1px;
    height: 48px;
    width: 304px;
}

.button:hover,
.button:focus {
    outline: none;
}

.standard {
    background-color: var(--primary-color);
    color: #fff;
}

.outlined {
    color: var(--primary-color);
    background-color: #fff;
}

.disabled {
    border: 1px solid var(--grey);
    cursor: not-allowed;
}

.standard.disabled {
    background-color: var(--grey);
    color: var(--dark-grey);
}

.outlined.disabled {
    background-color: #fff;
    color: var(--dark-grey);
}